/* src/Footer.css */
.custom-footer {
    /* background-color: #7bc7c8; */
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 170px;
  }
  
  .footer-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 60;
    margin: 0;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
  }
  
  .footer-link:hover {
    color: #0e0707;
  }