/* Profile.css */

/* Center the form */
.farewell-box {
  justify-content: center;
  height: 100vh;
  
}

/* Form styles */
.farewell-form {
  width: 700px; /* Adjust width as needed */
  text-align: center;
  padding-left: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: hwb(187 77% 6%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 400px;
  height:fit-content;
  
}

/* Form section styles */
.farewell-section {
  margin-bottom: 20px;
  border-radius: 5px;
}

/* Label styles */
.farewell-label {
  display: block;
  margin-bottom: 8px;
}

/* Select styles */
.farewell-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

/* Button styles */
.farewell-button {
  padding: 12px;
  background-color: #6cc8d6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.farewell-button:hover {
  background-color: #99c9da;
}
